.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;
  background-color: #b8a8e7;
  border: 6px solid #a297c1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card button {
  padding: 3px;
  font-size: 0.8rem;
  min-width: 28px;
  border-radius: 100%;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fdff;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 16px;
}

.card .sprite {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sprite-buttons {
  display: flex;
  gap: 2px;
}

.type-container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.symbols {
  color: #a090d8;
}

.name {
  text-transform: uppercase;
}
