body {
  background-color: #6a5e4e;
}

.pokedex-header {
  width: 100%;
  background-color: #e7ff91;
  border-bottom: 4px solid #beb65c;
}

.pokemon-list ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4px;
}

.link {
  color: #213547;
  border: 2px solid #213547;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-list p {
  text-transform: capitalize;
  margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 6px 0px;
}