ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

.link {
  color: #213547;
  border: 2px solid #213547;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-transform: capitalize;
  margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}